
.container-post{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-post{
  display: flex;
  align-items: center;
  flex-direction:column;
  width: 90%;
  height: auto;
  border-radius: 5px;
  border: solid 1px rgba(133, 133, 133, 0.41);
}

.links-post{
  display: flex;
  text-decoration: none;
  background-color: red;
}

.card-post label{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.card-post p{
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  padding: 10px;
  margin-bottom: 60px;
}

.card-post a{
  display: flex;
  background-color: rgb(67, 201, 62);
  width: 93%;
  height: 45px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: bold; */
  text-decoration: none;
  margin-bottom: 20px;
  border-radius: 5px;
}

.card-post img{
  width: 93%;
  height: 220px;
  margin-bottom: 20px;
}

.container-parrafo{
  display:flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  width: 100%;
  height: auto;
}

.container-parrafo02{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  padding: 15px;
  margin-top: 70px;
}

.sub-titulo02{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin-top: 50px;
}

.parrafo{
  display: flex;
  text-align: justify;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
  margin-top: 30px;
}

.titulo03{
  display:flex;
  background-color: rgb(67, 201, 62);
  color: #fff;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 98%;
  height: 65px;
  /* border-radius: 20px; */
  margin-bottom: 60px;
  text-align: center;
}

.container-parrafo02 img{
  display: flex;
  border: solid 6px #43c93e;
  margin-bottom: 30px;
  width: 98%;
  height: 300px;
}

.container-autor{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 50px;
  padding: 15px;
}

.nombre{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 5px;
}

.publicacion{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 5px;
}

.button-volver{
  display: flex;
  background-color: #43c93e;
  width: 280px;
  height: 55px;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media(max-width: 950px){
  .container-parrafo02{
    flex-direction: column;
  }
}


@media(max-width: 766px){
  .container-post{
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width: 450px){
  .container-parrafo02 img{
    height: 200px;
  }

  .titulo02{
    font-size: 18px;
    padding: 5px;
  }
}

